<!doctype html>
<html>
<head>
    <title>Star Trek Coffee</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <a href="/"><img src="startrek.png" alt="coffee logo"></a>
  <% if (user.local.email) { %>
    <p class="username">
        <strong>First Name</strong>: <%= user.local.firstName %><br>
        <strong>Last Name</strong>: <%= user.local.lastName %><br>
    </p>
<% } %>
  <section class="container">
    <h2>ORDERS:</
    <ul class="orderList">
      <% for(var i=0; i<orders.length; i++) {
          let completedClass = ''
          if(orders[i].complete){
            completedClass = 'completed'
          }
          %>
      <li id="<%= orders[i]._id %>"class="orderUp <%= completedClass %>">
        <span class="customerName"><%= orders[i].name %></span>
        <span><%= orders[i].size %></span>
        <span><%= orders[i].beverage %></span>
        <span><%= orders[i].flavor %></span>
        <span><%= orders[i].milkOptions %></span>
        <span><%= orders[i].note %></span>
        <span class="completedOrder"><%= orders[i].complete %></span>
        <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
        <span><i class="fa fa-trash-o" aria-hidden="true"></i></span>
      </li>
        <% } %>
    </ul>
    <a href="/logout"><button>Log Out</button></a>
  </section>
<script src="main.js"></script>
</body>
</html>